<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Parroquias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!pageIsLoading && parroquias!=null">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Parroquias</ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-card style='background-image: url("{{item.imgPrincipal}}");' *ngFor="let item of parroquias" (click)="getParroquia(item)">
    <ion-card-header>
      <ion-card-title>{{item.nombre}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>

<ion-content [fullscreen]="true" *ngIf="pageIsLoading">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-card >
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>

