ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
ion-card{
    background-image: url('https://www.minayon.com/portal/media/pictures/web/acerca_nayon/acerca2.jpg');
    background-position: center center;
    background-size: cover;
}
ion-card-title{
    color:white;
    margin: 50px 20px 20px 20px;
}