<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" text="Volver"></ion-back-button>
    <ion-title>Atractivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!pageIsLoading && infoLugares!=null">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Atractivos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let item of infoLugares">
    <img (click)="getAtractivo(item)" alt="Silhouette of mountains" src="{{item.imgPrincipal}}" />
    <ion-card-header (click)="getAtractivo(item)">
      <ion-card-title>{{item.nombre}}</ion-card-title>
      <ion-card-subtitle>{{item.parroquia.nombre}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div (click)="getAtractivo(item)">{{item.about}}</div>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="pageIsLoading">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-header >
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div ><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></div>
      
      <ion-button slot="start" fill="clear"  class="ion-text-end">
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-button>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header >
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div ><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></div>
      
      <ion-button slot="start" fill="clear"  class="ion-text-end">
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-button>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header >
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div ><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></div>
      
      <ion-button slot="start" fill="clear"  class="ion-text-end">
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-button>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header >
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div ><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></div>
      
      <ion-button slot="start" fill="clear"  class="ion-text-end">
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-button>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header >
      <ion-card-title><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div ><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></div>
      
      <ion-button slot="start" fill="clear"  class="ion-text-end">
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-button>
      <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-content>
