<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parroquias">
      <ion-icon aria-hidden="true" name="ticket-outline"></ion-icon>
      <ion-label>Parroquias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atractivos">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Atractivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias">
      <ion-icon aria-hidden="true" name="construct-outline"></ion-icon>
      <ion-label>Restaurantes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
