<ion-tabs #tabs (ionTabsDidChange)="onTabsDidChange()" id="main-content">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parroquias" [style]="styleParroquias">
      <ion-icon name="map"></ion-icon>
      <ion-label>Parroquias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atractivos" [style]="styleAtractivos">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Atractivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gastronomia" [style]="styleGastronomia">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Gastronomía</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="noticias" [style]="styleNoticias">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-menu-toggle>
      <ion-icon name="construct-outline" style="display: block; margin: auto;"></ion-icon>
      <ion-label style=" margin: auto;">Ajustes</ion-label>
      
    </ion-menu-toggle>
      
    
  </ion-tab-bar>

</ion-tabs>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="profile-container">
      
      <div class="profile-card">
        <img src="https://i.imgur.com/S4GNFIW.jpg" alt="image2" class="profile-icon" />
        <div class="profile-name">{{userMail ? userMail : 'Usuario desconocido'}}</div>
        <a  class="button" (click)="signOut()">Cerrar Sesión</a>
      </div>
      
    </div>
  </ion-content>
</ion-menu>
