

<ion-content [fullscreen]="true">
  <div class="form-box">
    <form class="form" (submit)="signUp()">
        <span class="title">Regístrate</span>
        <span class="subtitle">Registrate yá</span>
        <div class="form-container">
          <input  name="email" type="email" class="input" #email="ngModel" [(ngModel)]="user.email" placeholder="Email">
          <input  name="password" type="password" class="input" #password="ngModel" [(ngModel)]="user.password" placeholder="Password">
        </div>
        <button [disabled]="loading" type="submit"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>Registrate</button>
    </form>
    <div class="form-section">
      <p>¿Ya tienes cuenta? <a routerLink="../login">Ingresa</a></p>
    </div>
  </div>

  
  
</ion-content>
