<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/home/gatronomia" slot="start">Regresar</ion-back-button>
    <ion-title>Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title size="large">Restaurante</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ipsam praesentium beatae, earum cumque nihil officiis, tenetur ad
    voluptate blanditiis expedita voluptatibus! Accusantium possimus
    maiores recusandae consectetur est eos nesciunt suscipit!</ion-text>
  <div id="map"></div>

  <div class="card">


    <div class="results">
      <h1 class="label"><strong>Platos Populares</strong></h1>
      <div class="results-list">
        <div class="entry">
          <div class="icon">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
          </div>
          <div class="desc">
            <label>Create a new File</label>
            <span>Add a new file to your library list</span>
          </div>
        </div>

        <div class="entry">
          <div class="icon">
            <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
          </div>
          <div class="desc">
            <label>Create a new File</label>
            <span>Add a new file to your library list</span>
          </div>
        </div>


      </div>
      <hr>
    </div>
  </div>

</ion-content>